name: Release Charm to Edge and Publish Libraries

on:
  push:
    branches:
      - main
      - track/**

jobs:
  charms-changed:
    runs-on: ubuntu-latest
    outputs:
      coordinator_changed: ${{ steps.coordinator-changed-files.outputs.any_modified }}
      worker_changed: ${{ steps.worker-changed-files.outputs.any_modified }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Determine changed files in the coordinator
        id: coordinator-changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: coordinator/**
          files_ignore: |
            README.md
            CONTRIBUTING.md
            INTEGRATING.md
            CODEOWNERS
            LICENSE
            icon.svg
            .gitignore
            .github/**
      - name: Determine changed files in the worker
        id: worker-changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: worker/**
          files_ignore: |
            README.md
            CONTRIBUTING.md
            INTEGRATING.md
            CODEOWNERS
            LICENSE
            icon.svg
            .gitignore
            .github/**
  release-worker:
    needs: charms-changed
    if: needs.charms-changed.outputs.worker_changed == 'true'
    uses: canonical/observability/.github/workflows/charm-release.yaml@v1
    secrets: inherit
    with:
      default-track: dev
      charm-path: worker
      git-tag-prefix: worker-
  release-coordinator:
    needs: charms-changed
    if: needs.charms-changed.outputs.coordinator_changed == 'true'
    uses: canonical/observability/.github/workflows/charm-release.yaml@v1
    secrets: inherit
    with:
      default-track: dev
      charm-path: coordinator
      git-tag-prefix: coordinator-
